<%= render :partial => 'forem/forums/head', :locals => { :forum => @topic.forum } %>
<div class="forum-horizontal-line"></div>
<div style="margin-top: 35px;">
<span class="legend-title"><%= t("forem.post.edit-title", :post => @post) %></span>

<%= simple_form_for [forem, @topic.forum, @topic, @post] do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>
    <div style="text-align: center;">
        <%= f.submit t("forem.post.buttons.edit"), :class => "btn btn-primary review-submit-button", :style=>"float:none; border-radius:5px; width:200px;" %>
    </div>
<% end %>
    </div>
