<%= render :partial => 'head', :locals => { :forum => @topic.forum, :topic=>@topic  } %>
<div class="forum-horizontal-line"></div>
<div style="margin-top: 35px;">
<span class="legend-title"><%= t("forem.post.edit-title", :post => @post) %></span>

<%= simple_form_for [forem, @topic.forum, @topic, @post] do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>
    <div style="text-align: center;">
        <%= f.submit t("forem.post.buttons.edit"), :class => "btn btn-primary review-submit-button", :style=>"float:none; border-radius:5px; width:200px;" %>
    </div>
<% end %>
    </div>

<%= form_tag add_post_image_path , :multipart => true, :id=>"upload-post-image", :class=>"upload-post-image", :onchange=>"submitForm(this);", :title=>t("forem.post.add-post-images") do |f| -%>
    <%=hidden_field_tag 'post_id', @post.id -%>
    <%=file_field_tag(:asset, :title=>t("forem.post.add-post-images"), :id=>"upload-post-image-field", :style=>"display:none;")%>
<% end -%>
