<tr style="height: 65px;" class="topics-row topic <%= cycle('even', 'even') %> <%= topic.locked? ? 'locked' : 'unlocked' %>">

  <!--Иконки в таблице-->
  <td class='row-icon'>
    <% if topic.locked? %>
      <span class='topic-lock forum-icon'></span>
    <% end %>
    <% if topic.pinned? %>
      <span class='topic-pinned forum-icon'></span>
    <% end %>
    <% if topic.hidden? %>
      <span class='topic-hidden forum-icon'></span>
    <% end %>
    <% if forem_user && view = topic.view_for(forem_user) %>
      <% if topic.posts.exists?(["created_at > ?", view.updated_at]) %>
        <span class='new-posts forum-icon'></span>
      <%else%>
            <%if !topic.pinned?%>
                <span class='just-post forum-icon'></span>
            <%end%>
      <% end %>
    <%else%>
        <%if !topic.pinned?%>
            <span class='just-post forum-icon'></span>
        <%end%>
    <% end %>
  </td>

  <!--Тема в таблице-->
  <td class='byline'>
    <%= new_since_last_view_text(topic) %>
    <div class='forum-subject'><%= link_to forem_emojify(topic.subject), forem.forum_topic_path(@forum, topic) %></div>
    <div class='started-by' style="color: #6e6e6e; overflow: hidden; padding-left: 10px; max-height: 18px;">
        <%= relevant_posts(topic).first.text.html_safe %>
    </div>
  </td>

  <!--&lt;!&ndash;Иконки в таблице&ndash;&gt;-->
  <!--<td class='latest-post text-center'>-->
    <!--<%= link_to_latest_post(topic) -%>-->
  <!--</td>-->

  <!--Иконки в таблице-->
  <td class='posts-count text-center'>

    <% if forem_user && view = topic.view_for(forem_user) %>
        <% if topic.posts.exists?(["created_at > ?", view.updated_at]) %>
            <span class="posts-count-selection"><%= relevant_posts(topic).count %></span>
        <%else%>
            <%= relevant_posts(topic).count %>
        <% end %>

    <%else%>
        <%= relevant_posts(topic).count %>
    <% end %>
  </td>

  <!--Иконки в таблице-->
  <td class='views-count text-center'><%= topic.views_count %></td>

  <!--Иконки в таблице-->
  <td class='views-count text-center'><%= relevant_posts(topic).first.user.forem_name %></td>
</tr>
