
<%if forem_user%>
    <%=render :partial =>'forem/posts/send_form'%>\
<%end%>
<div id='topic' class='<%= 'un' unless @topic.locked? %>locked'>
  <%= render :partial => 'forem/topics/head', :locals => { :topic => @topic } %>

  <div class="forum-horizontal-line"></div>

  <div id='menu' style="margin-top: 35px;">



    <% if forem_admin? %>
      <div class='btn-group'>
        <%= link_to t('forem.topic.links.edit'), forem.edit_admin_forum_topic_path(@forum, @topic), :class => "btn" %>
        <%= link_to t(".hide.#{@topic.hidden}"), forem.toggle_hide_admin_forum_topic_path(@forum, @topic), :method => :put, :class => "btn" %>
        <%= link_to t(".lock.#{@topic.locked}"), forem.toggle_lock_admin_forum_topic_path(@forum, @topic), :method => :put, :class => "btn" %>
        <%= link_to t(".pin.#{@topic.pinned}"), forem.toggle_pin_admin_forum_topic_path(@forum, @topic), :method => :put, :class => "btn" %>
      </div>
    <% end %>
  </div>

  <% if @topic.pending_review? %>
    <div class="moderation alert" id='topic_moderation'>
      <%= t(".pending_review") %>
      <% if forem_admin_or_moderator?(@topic.forum) %>
        <%= form_for @topic, :url => forem.moderate_forum_topic_path(@topic.forum, @topic), :method => :put do |f| %>
          <%= render "/forem/moderation/options", :f => f %>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <%= forem_pages_widget(@posts) %>

  <div id='posts'>
    <%= render :partial => "forem/posts/post", :collection => @posts %>
  </div>
  <%= forem_pages_widget(@posts) %>
</div>
