<div class="activity-block">
    <div class="activity-block-left">
      <span><%=t("forem.general.last_activity")%></span>
      <ul>
          <%@last_topics.each do |topic|%>
            <li> <%= link_to topic.subject, forem.forum_topic_path(get_forum_by_topic(topic), topic) -%></li>
          <%end%>
      </ul>
    </div>

    <div class="activity-block-right">
      <span><%=t("forem.general.last_topics_created")%></span>
      <ul>
        <%@last_topics_created.each do |topic|%>
            <li><%= link_to topic.subject, forem.forum_topic_path(get_forum_by_topic(topic), topic) -%></li>
        <%end%>
      </ul>
    </div>
</div>

<div id='forums_container'>
  <%= render @categories %>
</div>

<br>
<footer id='admin_link'>
  <% if forem_admin? %>
    <%= link_to t("area", :scope => "forem.admin"), forem.admin_root_path %>
  <% end %>
</footer>
