<div class="activity-block">
    <div class="activity-block-left">
      <span><%=t("forem.general.last_activity")%></span>
      <ul>
          <%@last_topics.each do |topic|%>

            <%if forem_user && view = topic.view_for(forem_user)%>
                <% if has_new_posts(topic, view) %>
                    <li><b><%= link_to topic.subject, forem.forum_topic_path(topic.forum, topic) -%> <font color="#ff6347">(<%=topic.posts.count%>)</font> → <%=get_last_poster_name_in_topic(topic)%></b></li>
                <%else%>
                    <li> <%= link_to topic.subject, forem.forum_topic_path(topic.forum, topic) -%> (<%=topic.posts.count%>) → <%=get_last_poster_name_in_topic(topic)%></li>
                <% end %>
            <%else%>
                <li> <%= link_to topic.subject, forem.forum_topic_path(topic.forum, topic) -%> (<%=topic.posts.count%>) → <%=get_last_poster_name_in_topic(topic)%></li>
            <%end%>


          <%end%>
      </ul>
    </div>

    <div class="activity-block-right">
      <span><%=t("forem.general.last_topics_created")%></span>
      <ul>
        <%@last_topics_created.each do |topic|%>
            <li> <%= link_to topic.subject, forem.forum_topic_path(topic.forum, topic) -%> (<%=topic.posts.count%>) → <%=topic.user.forem_name%></li>
        <%end%>
      </ul>
    </div>
</div>

<div id='forums_container'>
  <%= render @categories %>
</div>

<br>
<footer id='admin_link'>
  <% if forem_admin? %>
    <%= link_to t("area", :scope => "forem.admin"), forem.admin_root_path %>
  <% end %>
</footer>
